menu "Configuración de broker"
    
    config MQTT_BROKER
        string "Dirección del broker MQTT"
        default "broker_por_defecto"
        help
            Introduce la dirección del broker MQTT al que se conectará el ESP32.

    config MQTT_BROKER_PORT
        int "Puerto del broker MQTT"
        default 1883
        help
            Introduce el puerto del broker MQTT al que se conectará el ESP32.

endmenu